OS_USERNAME = "admin"
OS_PASSWORD = "nova"
OS_TENANT_NAME = "admin"
OS_AUTH_URL = "http://192.168.1.1:35357/v2.0/"
SAVANNA_HOST = '192.168.1.1'
SAVANNA_PORT = '8080'
OS_IMAGE_ID = '7ba73c45-49ff-442f-b337-f731057308e6'
